<!DOCTYPE html>
<html>
<head>
  <title>Writefully</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='admin <%= controller_name %> <%= action_name %>'>
  <%= render 'navbar' %>
  <%= yield :action_bar %>
  <div id='main' class='container'>
    <%= render 'flash_messages' %>
    <%= yield %>
  </div>
</body>
</html>
