<div class='row justify-content-md-center'>
  <div class='col col-lg-5'>
    <div class='card shadow-lg no_border mt-5'>
      <div class='card-body'>
        <h2>Sign In</h2>
        <%= form_tag auth_session_path do %>
          <div class='form-group'>
            <%= label_tag :email %>
            <%= text_field_tag :email, nil, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, class: 'form-control' %>
          </div>
          <div class='actions'>
            <%= submit_tag "Sign In", class: 'btn btn-success btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>