<%= div_for post, class: 'card post_card shadow mt-5 mb-5' do %>
  <div class='card-body'>
    <h2 class='card-title'>
      <%= link_to post.title, admin_post_path(post) %>
      <span class='badge badge-secondary'><%= post.status %></span>
    </h2>
    <p class='card-text'><%= post.body %></p>
    <p class='card-text'>Comments(<%= post.comments_count %>)</p>
    <ul>
      <% post.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
    <%= link_to "Edit", edit_admin_post_path(post), class: 'btn btn-primary' %>
  </div>
<% end %>
