<%= content_for :action_bar do %>
  <div class='action_bar'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10'>
          <ul class='nav nav-pills'>
            <%= Admin::PostsHelper.render_states(self) %>
          </ul>
        </div>
        <div class='col-md-2'>
          <%= link_to "New Post", new_admin_post_path, class: 'btn btn-success btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<%= paginate @posts %>
