<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Admin', root_path, class: 'navbar-brand' %>
    <ul class='navbar-nav'>
      <%= render_user_auth_nav %>
    </ul>
  </div>
</nav>