<%= div_for post, class: 'card no_border shadow-lg mt-5 mb-5' do %>
  <div class='card-body'>
    <h2 class='card-title'>
      <%= link_to post.title, post_path(post) %>
    </h2>
    <p><%= post.body %></p>
    <p>Comments(<%= post.comments_count %>)</p>
    <ul>
      <% post.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
    <p class='card-text'>
      <small class='text-muted'><%= time_ago_in_words(post.published_at) %> ago</small>
    </p>
  </div>
<% end %>