<div class='card no_border mt-5 mb-5'>
  <div class='card-body'>
    <h1 class='card-title'><%= @post.title %></h1>

    <% if @post.cover_picture.attached? %>
      <%= image_tag @post.cover_picture.variant(resize: '750x750') %>
    <% end %>

    <p><%= @post.body %></p>

    <%= render 'comments/comments' %>
  </div>
</div>
