@import "bootstrap"
@import "bootstrap-grid"

@import "posts"

body
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%)
  min-height: 100vh

nav.navbar
  a
    color: white

div.no_border
  border: none
