<div class='row justify-content-md-center'>
  <div class='col col-lg-5'>
    <div class='card no_border shadow-lg mt-5'>
      <div class='card-body'>
        <h2>Registration</h2>
        <%= form_for [:auth, @user] do |f| %>
          <% if @user.errors.any? %>
            <div class='alert alert-danger'>
              <h3><%= pluralize(@user.errors.count, 'error') %> stopped this form from saving.</h3>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class='form-group'>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class='actions'>
            <%= f.submit "Finish", class: 'btn btn-success btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>