<nav class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to 'Writefully', root_path, class: 'navbar-brand' %>
    <ul class='navbar-nav'>
      <%= render_user_auth_nav %>
    </ul>
  </div>
</nav>