<!DOCTYPE html>
<html>
  <head>
    <title>Writefully</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= render 'navbar' %>
    <div id='main' class='container'>
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
